# Prerequisites
*.d

# Open MS Documents
~*.xlsx

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

.RData
.Rdata
.Rhistory

# Executables
*.exe
*.out
*.app
LOCA_Colate_to_HUCS
test_for_time_lut.txt
*.txt
*.arch
.Rproj.user
*.PCP
*.TMP

./work
LOCA2_nCLIMDIV_????.csv
LOCA2_HUC_????.csv
./work/.DS_Store
.DS_Store
