# Prerequisites
*.d

# Open MS Documents
~*.xlsx

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

.RData
.Rdata
.Rhistory

# Executables
*.exe
*.out
*.app
LOCA_Colate_to_HUCS
test_for_time_lut.txt
*.txt
*.arch
.Rproj.user
*.PCP
*.TMP

./work
LOCA2_nCLIMDIV_????.csv
LOCA2_HUC_????.csv
./work/.DS_Store
.DS_Store
*.geojson
shapefiles/CONUS_NCEI_Climate_Divisions/CONUS_NCEI_Climate_Divisions.cpg
shapefiles/CONUS_NCEI_Climate_Divisions/CONUS_NCEI_Climate_Divisions.dbf
shapefiles/CONUS_NCEI_Climate_Divisions/CONUS_NCEI_Climate_Divisions.prj
shapefiles/CONUS_NCEI_Climate_Divisions/CONUS_NCEI_Climate_Divisions.qmd
shapefiles/CONUS_NCEI_Climate_Divisions/CONUS_NCEI_Climate_Divisions.shp
shapefiles/CONUS_NCEI_Climate_Divisions/CONUS_NCEI_Climate_Divisions.shx
shapefiles/CONUS_USGS_HUC-08/CONUS_USGS_HUC-08.cpg
shapefiles/CONUS_USGS_HUC-08/CONUS_USGS_HUC-08.dbf
shapefiles/CONUS_USGS_HUC-08/CONUS_USGS_HUC-08.prj
shapefiles/CONUS_USGS_HUC-08/CONUS_USGS_HUC-08.qmd
shapefiles/CONUS_USGS_HUC-08/CONUS_USGS_HUC-08.shp
shapefiles/CONUS_USGS_HUC-08/CONUS_USGS_HUC-08.shx
shapefiles/CONUS_NCEI_Climate_Divisions/MISSOURI.cpg
shapefiles/CONUS_NCEI_Climate_Divisions/MISSOURI.dbf
shapefiles/CONUS_NCEI_Climate_Divisions/MISSOURI.prj
shapefiles/CONUS_NCEI_Climate_Divisions/MISSOURI.qmd
shapefiles/CONUS_NCEI_Climate_Divisions/MISSOURI.shp
shapefiles/CONUS_NCEI_Climate_Divisions/MISSOURI.shx
LOCA2_Available_Regions_Map.png
LOCA2_ClimDiv_Available_Regions_Map.png
LOCA2_HUCs_Available_Regions_Map.png
LOCA2_HUCs_Available_Regions_Map.png
LOCA2_ClimDiv_Available_Regions_Map.png
LOCA2_Available_Regions_Map.png
